:root {
    --cor-branca: #FFFFFF;
    --cor-azul-marinho: #040814;
    --cor-azul: #167BF7;
    --cor-cinza: #C0C0C0;
}

body {
    background-color: var(--cor-azul-marinho);
    color: var(--cor-branca);
    font-weight: 400;
    font-size: 16px;
}

* {
    margin: 0; 
    padding: 0;
}

.container {
    background-image: url(/img/Background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-alura-plus {
    margin: 9% 0% 0% 4.5%;
    height: 80%;
    position:absolute;
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 3%;
    font-family: 'Bold', sans-serif;
    text-align: center;
    width: 70%;
    margin-bottom: 2rem;
    font-size: 30px;
}

.botoes-alura {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    color: var(--cor-cinza);
    font-size: small;
    font-family: 'Inter', sans-serif;
}
.imagem-alura-plus {
    width: 70%;
    margin-bottom: 4rem;
}

.botao-alura-combo {
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    width: 100%;
    border-radius: 10px;
    height: 3.5rem;
    margin-bottom: 3%;
    border-color: transparent;
    font-size: medium;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.botao-alura-combo:hover {
    background-color: #69adff;
}

.botao-alura-mais {
    color: var(--cor-branca);
    background-color: transparent;
    width: 100%;
    height: 3.5rem;
    border-radius: 10px;
    border: 2px solid var(--cor-branca);
    margin-bottom: 2%;
    border-width: 1px;
    font-size: medium;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.botao-alura-mais:hover {
    background-color: rgb(224, 224, 224);
    color: black;
}

.botao-aviso {
    font-size: 12px;
    color: var(--cor-cinza);
}

.container-plataformas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
}

.imagem-monitor {
    width: 40%;
    margin-left: 15%;
    margin-right: 3%;
}

.container-textos {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    font-family: 'Inter', sans-serif;
}

.titulo-plataformas {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-bottom: 0.5rem;
}

.texto-plataformas {
    color: var(--cor-cinza);
    width: 60%;
    font-size: 14px;
}

.container-combo-mais {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10%;
}

.container-textos-telas {
    width: 55%;
}

.texto-combo-mais {
    color: var(--cor-cinza);
    width: 45%;
    margin-left: 22%;
    margin-bottom: 2%;
    font-size: 14px;
}

.botao-combo-mais {
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    width: 15%;
    border-radius: 10px;
    height: 3.5rem;
    margin-bottom: 3%;
    margin-left: 22%;
    border-color: transparent;
    font-size: medium;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.botao-combo-mais:hover {
    background-color: #69adff;
}

.container-cursos {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15%;
}

.container-textos-cursos {
    width: 27%;
    margin-left: 20%;
}

.titulo-cursos {
    font-size: 40px;
    margin-bottom: 3px;
}

.texto-cursos {
    color: var(--cor-cinza);
    font-size: 14px;
}

.imagem-cursos {
    margin-left: 8%;
}

.container-dispositivos {
    font-family: 'Inter', sans-serif;
    margin-bottom: 10%;
}

.container-imagem-dispositivos{
    justify-content: center;
    display: flex;
    gap: 3%;
    list-style-type: none;
}

.imagem-dispositivo {
    align-items: center;
    text-align: center;
}

.titulo-dispositivos {
    justify-content: center;
    display: flex;
    font-size: 40px;
    margin-bottom: 2%;
}

.container-legenda-dispositivos {
    justify-content: center;
    display: flex;
    margin-bottom: 10%;
    font-size: 20px;
    gap: 8%;
}

.legenda-tv {
    margin-left: 6%;
    margin-right: 6%;
}

.rodape-alura {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    font-family: 'Inter', sans-serif;
}

.logo-alura {
    margin-right: 1%;
    margin-bottom: 2%;
}

.links-alura {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    font-size: 18px;
}

.link-alura {
    margin: 2% 0.8%;
    text-decoration: none;
    color: var(--cor-branca);
}

.link-alura:hover {
    color: var(--cor-azul);
}

.texto-alura {
    margin-bottom: 1%;
    color: var(--cor-cinza);
    font-size: 14px;
}

.texto-alura-2 {
    color: var(--cor-cinza);
    font-size: 14px;
    width: 63%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container{
        background-image: none;
    }
    
    .container-alura-plus {
        width: 100%;
        margin: 15% 0% 0% 0%;
    }

    .botoes-alura {
        text-align: center;
    }

    .container-plataformas {
        display: block;
        text-align: center;
        margin-bottom: 10%;
    }

    .texto-plataformas {
        width: 100%;
    }

    .imagem-monitor {
        margin: 0% 0%;
    }

    .container-combo-mais {
        text-align: center;
        flex-direction: column-reverse;
        margin-top: 20%;
    }

    .container-textos-telas {
        width: 80%;
        margin-left: 0%;
        text-align: center;
    } 

    .botao-combo-mais {
        text-align: center;
        justify-content: center;
        width: 50%;
        margin: 0%;
        display: flex;
        align-items: center;
        margin: auto;
    }

    .texto-combo-mais {
        margin-left: 0%;
        align-items: center;
        width: 100%;
        margin-bottom: 5%;
    }

    .imagem-telas {
        width: 90%;
        margin-bottom: 5%;
    }

    .container-cursos {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .imagem-cursos {
        margin: 15% 0% 5% 0%;
        width: 100%;
    }
    .container-textos-cursos {
        width: 90%;
        margin-left: 0%;
    }

    .titulo-cursos {
        margin-bottom: 4%;
    }

    .titulo-dispositivos {
        text-align: center;
        margin-bottom: 5%;
    }

    .container-imagem-dispositivos {
        display: block;
    }

    .rodape-alura {
        text-align: center;
    }

    .logo-alura {
        margin-right: 0%;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    .links-alura {
        display: flex;
        flex-direction: column;
    }

    .texto-alura {
        margin-bottom: 2%;
    }

    .texto-alura-2 {
        width: 100%;
    }
}